PORT=8081
MONGODB_URL=

# Config JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRE=

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRE=

# Init sample data
SHOULD_INIT=true
INIT_PASSWORD=

# Config EMAIL
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=
MAIL_PASS=
