PORT=8081
MONGODB_URL=

# Config JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRE=

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRE=

# Init sample data
SHOULD_INIT=true
INIT_PASSWORD=

# Config EMAIL
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=
MAIL_PASS=

# Config Google
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8081/api/v1/auth/google/redirect

# Config VNPay Sandbox
VNPAY_TMN_CODE=
VNPAY_SECURE_SECRET=

# Host sandbox của VNPay
VNPAY_URL=

# URL frontend của dự án bạn
VNPAY_RETURN_URL=http://localhost:3000/payment/vnpay-return

# URL backend của dự án bạn
VNPAY_IPN_URL=http://localhost:8081/api/v1/payments/vnpay-ipn

# Đang dùng môi trường test
VNPAY_TEST_MODE=true
